@import (reference) "../../less/styled-components.include.less";
.filter-box {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  max-width: 1200px;
  @media (min-width: @screen-md-min) {
    grid-template-columns: 20% 80%;
  }
}

.filter-container {
  padding: 10px;
  position: relative;
  background-color: @white;
}

.filter-label-margin {
  margin-top: 20px;
  font-family: @primary-font;
}

.label-heading {
  font-family: @primary-font;
  font-size: 1em;
  margin-bottom: 15px;
  color: @virgin-red;
}

.label-subheading {
  font-family: @primary-font;
  margin-bottom: 10px;
  font-size: 1em;
}

.error {
  font-family: @primary-font;
  color: @virgin-red;
  margin-top: 20px;
  text-align: center;
}
